/01_AsteroidsLibGDX/target/
/lab_02/AsteroidsEntityFramework/Common/target/
/lab_02/AsteroidsEntityFramework/Player/target/
/lab_02/AsteroidsEntityFramework/Core/target/
/lab_02/AsteroidsEntityFramework/Enemy/target/
/lab_02/AsteroidsEntityFramework/Asteroid/target/
/lab_02/AsteroidsEntityFramework/Collision/target/