/01_AsteroidsLibGDX/target/
/lab_02/AsteroidsEntityFramework/Common/target/
/lab_02/AsteroidsEntityFramework/Player/target/
/lab_02/AsteroidsEntityFramework/Core/target/
/lab_02/AsteroidsEntityFramework/Enemy/target/
/lab_02/AsteroidsEntityFramework/Asteroid/target/
/lab_02/AsteroidsEntityFramework/Collision/target/
/lab_03/ServiceLoaderExample/DictionaryServiceProvider/target/
/lab_03/ServiceLoaderExample/GeneralDictionary/target/
/lab_03/ServiceLoaderExample/ExtendedDictionary/target/
/lab_03/ServiceLoaderExample/DictionaryDemo/target/
/lab_03/AsteroidsServiceLoader/Common/target/
/lab_03/AsteroidsServiceLoader/Player/target/
/lab_03/AsteroidsServiceLoader/Asteroid/target/
/lab_03/AsteroidsServiceLoader/Collision/target/
/lab_03/AsteroidsServiceLoader/Core/target/
/lab_03/AsteroidsServiceLoader/Projectile/target/
/lab_03/SE04_KOM_lab_03/common/target/
/lab_03/SE04_KOM_lab_03/core/target/
/lab_03/SE04_KOM_lab_03/asteroid/target/
/lab_03/SE04_KOM_lab_03/player/target/
/lab_03/SE04_KOM_lab_03/enemy/target/