/01_AsteroidsLibGDX/target/
/lab_02/AsteroidsEntityFramework/Common/target/
/lab_02/AsteroidsEntityFramework/Player/target/
/lab_02/AsteroidsEntityFramework/Core/target/
/lab_02/AsteroidsEntityFramework/Enemy/target/
/lab_02/AsteroidsEntityFramework/Asteroid/target/
/lab_02/AsteroidsEntityFramework/Collision/target/
/lab_03/ServiceLoaderExample/DictionaryServiceProvider/target/
/lab_03/ServiceLoaderExample/GeneralDictionary/target/
/lab_03/ServiceLoaderExample/ExtendedDictionary/target/
/lab_03/ServiceLoaderExample/DictionaryDemo/target/
/lab_03/AsteroidsServiceLoader/Common/target/
/lab_03/AsteroidsServiceLoader/Player/target/
/lab_03/AsteroidsServiceLoader/Asteroid/target/
/lab_03/AsteroidsServiceLoader/Collision/target/
/lab_03/AsteroidsServiceLoader/Core/target/
/lab_03/AsteroidsServiceLoader/Projectile/target/
/lab_03/SE04_KOM_lab_03/common/target/
/lab_03/SE04_KOM_lab_03/core/target/
/lab_03/SE04_KOM_lab_03/asteroid/target/
/lab_03/SE04_KOM_lab_03/player/target/
/lab_03/SE04_KOM_lab_03/enemy/target/
/lab_03/SE04_KOM_lab_03/weapon/target/
/lab_04/SE04_KOM_lab_04/common/target/
/lab_04/SE04_KOM_lab_04/player/target/
/lab_04/SE04_KOM_lab_04/core/target/
/lab_04/SE04_KOM_lab_04/asteroid/target/
/lab_04/SE04_KOM_lab_04/weapon/target/
/lab_04/SE04_KOM_lab_04/application/target/
/lab_04/SE04_KOM_lab_04/enemy/target/
/lab_05/SE04_KOM_lab_05/SilentUpdate/target/
/lab_06_osgi/PaxAsteroids/OSGiCommon/target/
/lab_06_osgi/PaxAsteroids/OSGiLibGDX/target/
/lab_06_osgi/PaxAsteroids/OSGiCore/target/
/lab_06_osgi/PaxAsteroids/OSGiCommonBullet/target/
/lab_06_osgi/PaxAsteroids/OSGiCommonAsteroids/target/
/lab_06_osgi/PaxAsteroids/OSGiCommonEnemy/target/
/lab_06_osgi/PaxAsteroids/OSGiEnemy/target/
/lab_06_osgi/SE04_KOM_lab_06/OSGiAsteroid/target/
/lab_06_osgi/PaxAsteroids/OSGiPlayer/target/
/lab_06_osgi/PaxAsteroids/OSGiAsteroids/target/
/lab_06_osgi/SE04_KOM_lab_06/OSGiLaser/target/
/lab_08_testing/SE04_KOM_netbeans/common/nbproject/